@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Geist', sans-serif;

  /* Escala balanceada basada en tu rojo #7b0d18 */
  --color-brand-50: #fef2f2;
  --color-brand-100: #fee2e2;
  --color-brand-200: #fecaca;
  --color-brand-300: #f87171;
  --color-brand-400: #ef4444;
  --color-brand-500: #e1261c; /* Tu color base */
  --color-brand-600: #6a0b15;
  --color-brand-700: #5a0912;
  --color-brand-800: #4a070f;
  --color-brand-900: #3a050b;
  --color-brand-950: #2a0408;
}